<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         name="Notespring"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="icons/alt_window_32.gif"
            thread="main"
            visible="true">
         <run
               class="org.posithing.notespring.NotespringApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.posithing.notespring.application"
            description="Notespring is an open-source note taking software."
            name="Notespring">
         <property
               name="appName"
               value="Notespring">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="Notespring is an open-source note taking software.">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="windowImages"
               value="icons/notespring_16.png,icons/notespring_32.png">
         </property>
         <property
               name="aboutImage"
               value="icons/notespring.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.posithing.notespring.NotespringPerspective"
            icon="icons/alt_window_32.gif"
            id="org.posithing.notespring.perspective"
            name="Notespring Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.posithing.notespring.perspective">
         <actionSet
               id="org.eclipse.ui.edit.text.actionSet.presentation">
         </actionSet>
         <actionSet
               id="org.eclipse.ui.NavigateActionSet">
         </actionSet>
         <newWizardShortcut
               id="org.posithing.notespring.wizards.EntryNewWizard">
         </newWizardShortcut>
		<!--
         <newWizardShortcut
               id="org.posithing.notespring.wizards.DreamsNewWizard">
         </newWizardShortcut>
        -->
         <newWizardShortcut
               id="org.eclipse.ui.editors.wizards.UntitledTextFileWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.file">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.project">
         </newWizardShortcut>
         <showInPart
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </showInPart>
         <showInPart
               id="org.posithing.notespring.views.CalendarView">
         </showInPart>
         <showInPart
               id="org.posithing.notespring.views.ClockView">
         </showInPart>
         <showInPart
               id="org.posithing.notespring.views.TimerView">
         </showInPart>
         <viewShortcut
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>
         <viewShortcut
               id="org.posithing.notespring.views.CalendarView">
         </viewShortcut>
         <viewShortcut
               id="org.posithing.notespring.views.ClockView">
         </viewShortcut>
         <viewShortcut
               id="org.posithing.notespring.views.TimerView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?after=additions">
         <menu
               id="convert.case"
               label="Convert Case">
            <command
                  commandId="org.eclipse.ui.edit.text.upperCase"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.text.lowerCase"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.posithing.notespring.ui.actionSet.openFiles"
            label="Open Files"
            visible="true">
         <action
               class="org.eclipse.ui.internal.ide.actions.OpenLocalFileAction"
               definitionId="org.eclipse.ui.edit.text.openLocalFile"
               helpContextId="org.eclipse.ui.open_local_file_action_context"
               icon="icons/etool16/open-file.gif"
               id="org.eclipse.ui.openLocalFile"
               label="Open Local File ..."
               style="push"
               toolbarPath="org.eclipse.ui.workbench.file/open.ext"
               tooltip="Open Local File ...">
         </action>
      </actionSet>
      <actionSet
            id="org.posithing.notespring.ui.actions"
            label="Actions"
            visible="true">
         <action
               class="org.posithing.notespring.ui.actions.WrapAction"
               definitionId="org.posithing.notespring.commands.wrap"
               disabledIcon="icons/wrap-not-active.ico"
               icon="icons/wrap-active.ico"
               id="org.posithing.notespring.ui.actions.wrap"
               label="Wrap"
               state="true"
               style="toggle"
               toolbarPath="Normal"
               tooltip="Unwrap text">
         </action>
      </actionSet>
      <actionSet
            description="Create ActionSet"
            id="org.posithing.notespring.ui.actionSet.create"
            label="CreateActionSet"
            visible="true">
		<!--
         <action
               accelerator="Ctrl+D"
               class="org.posithing.notespring.ui.actions.NewDreamAction"
               icon="icons/dream-16x16.png"
               id="org.posithing.notespring.ui.actions.create.newdream"
               label="new Dream"
               style="push"
               toolbarPath="org.eclipse.ui.workbench.file/new.ext"
               tooltip="Create a new Dream ...">
         </action>
        -->
         <action
               accelerator="Ctrl+E"
               class="org.posithing.notespring.ui.actions.NewEntryAction"
               icon="icons/pencil-16x16.png"
               id="org.posithing.notespring.ui.actions.create.newentry"
               label="new Entry"
               style="push"
               toolbarPath="org.eclipse.ui.workbench.file/new.ext"
               tooltip="Create a new Entry ...">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.ui.navigate.openResource"
            icon="icons/etool16/open-file.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.posithing.notespring.wizards"
            name="Notespring">
      </category>
      <wizard
            category="org.posithing.notespring.wizards"
            class="org.posithing.notespring.wizards.EntryNewWizard"
            icon="icons/pencil-16x16.png"
            id="org.posithing.notespring.wizards.EntryNewWizard"
            name="Entry">
      </wizard>
		<!--
      <wizard
            category="org.posithing.notespring.wizards"
            class="org.posithing.notespring.wizards.DreamsNewWizard"
            icon="icons/dream-16x16.png"
            id="org.posithing.notespring.wizards.DreamsNewWizard"
            name="Dream">
      </wizard>
         -->
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.posithing.notespring.editors.NotespringEditor"
            default="true"
            extensions="txt, text, "
            icon="icons/pencil-16x16.png"
            id="org.posithing.notespring.editors.DefaultEditor"
            name="Default Editor">
      </editor>
      <!--
      <editor
            class="org.posithing.notespring.editors.NotespringEditor"
            default="true"
            extensions="drm,txt"
            icon="icons/dream-16x16.png"
            id="org.posithing.notespring.editors.NotespringEditor"
            name="Notespring Editor">
      </editor>
      -->
      <editor
            class="org.posithing.notespring.editors.RTEEditor"
            default="true"
            extensions="rte"
            icon="icons/rte_editor-16x16.png"
            id="org.posithing.notespring.editors.RTEEditor"
            name="RTEEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="org.posithing.notespring.scheme"
            name="Notespring Scheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            commandId="org.eclipse.ui.edit.text.delete.line"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.posithing.notespring.scheme"
            sequence="Ctrl+D">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/resource_persp.gif"
            id="org.eclipse.ui.navigator.ProjectExplorer"
            name="Notes"
            restorable="true">
      </view>
      <view
            category="org.eclipse.ui"
            class="org.posithing.notespring.views.CalendarView"
            icon="icons/calendar_view_month.png"
            id="org.posithing.notespring.views.CalendarView"
            name="Calendar"
            restorable="true">
      </view>
      <view
            category="org.eclipse.ui"
            class="org.posithing.notespring.views.ClockView"
            icon="icons/clock_view.png"
            id="org.posithing.notespring.views.ClockView"
            name="Clock"
            restorable="true">
      </view>
      <view
            category="org.eclipse.ui"
            class="org.posithing.notespring.views.TimerView"
            icon="icons/timer_view-16x16.png"
            id="org.posithing.notespring.views.TimerView"
            name="Timer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <category
            description="Exclusion Category"
            id="org.posithing.notespring.activities.exclusionCategory"
            name="Exclusion Category">
      </category>
      <activity
            description="Activity to exclude ResNav"
            id="org.posithing.notespring.activities.excludeResNav"
            name="Exclude ResNav Activity">
      </activity>
      <activityPatternBinding
            activityId="org.posithing.notespring.activities.excludeResNav"
            pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.views\.ResourceNavigator*">
      </activityPatternBinding>
      <categoryActivityBinding
            activityId="org.posithing.notespring.activities.excludeResNav"
            categoryId="org.posithing.notespring.activities.exclusionCategory">
      </categoryActivityBinding>
      <activity
            description="Exclude Java Preference Page"
            id="org.posithing.notespring.activities.prefs.excludeJava"
            name="Exclude Java Preference Page">
      </activity>
      <activityPatternBinding
            activityId="org.posithing.notespring.activities.prefs.excludeJava"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.preferences\.JavaBasePreferencePage*">
      </activityPatternBinding>
      <categoryActivityBinding
            activityId="org.posithing.notespring.activities.prefs.excludeJava"
            categoryId="org.posithing.notespring.activities.exclusionCategory">
      </categoryActivityBinding>
      <activity
            description="Exclude Install/Update Preference Page"
            id="org.posithing.notespring.activities.prefs.excludeInstall"
            name="Exclude Install/Update Preference Page">
      </activity>
      <activityPatternBinding
            activityId="org.posithing.notespring.activities.prefs.excludeInstall"
            pattern="org\.eclipse\.equinox\.preferences\.sdk/org\.eclipse\.equinox\.internal\.p2\.ui\.sdk\.ProvisioningPreferencePage*">
      </activityPatternBinding>
      <categoryActivityBinding
            activityId="org.posithing.notespring.activities.prefs.excludeInstall"
            categoryId="org.posithing.notespring.activities.exclusionCategory">
      </categoryActivityBinding>
      <activity
            description="Exclude Run/Debug Preference Page"
            id="org.posithing.notespring.activities.prefs.excludeRunDeburg"
            name="Exclude Run/Debug Preference Page">
      </activity>
      <activityPatternBinding
            activityId="org.posithing.notespring.activities.prefs.excludeRunDeburg"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.ui\.DebugPreferencePage*">
      </activityPatternBinding>
      <categoryActivityBinding
            activityId="org.posithing.notespring.activities.prefs.excludeRunDeburg"
            categoryId="org.posithing.notespring.activities.exclusionCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.posithing.notespring.categoryActivityBinding4"
            categoryId="org.posithing.notespring.categoryActivityBinding4">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="org.posithing.notespring.activityPatternBinding4"
            pattern="org.eclipse.team.ui">
      </activityPatternBinding>
      <activity
            description="Exclude Team Preference Page"
            id="org.posithing.notespring.activities.prefs.excludeTeam"
            name="Exclude Team Preference Page">
      </activity>
      <activityPatternBinding
            activityId="org.posithing.notespring.activities.prefs.excludeTeam"
            pattern="org\.eclipse\.team\.ui/org\.eclipse\.team\.ui\.TeamPreferences*">
      </activityPatternBinding>
      <categoryActivityBinding
            activityId="org.posithing.notespring.activities.prefs.excludeTeam"
            categoryId="org.posithing.notespring.activities.exclusionCategory">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="org.posithing.notespring.activities.prefs.excludeTeam"
            pattern="org.eclipse.team.ui">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.activities.ActivitiesPreferencePage"
            id="org.eclipse.sdk.capabilities"
            name="Capabilities">
      </page>
      <page
            class="org.posithing.notespring.preferences.NotespringPreferencePage"
            id="org.posithing.notespring.preferences.main"
            name="Notespring">
      </page>
      <page
            category="org.posithing.notespring.preferences.main"
            class="org.posithing.notespring.preferences.FileTypesPreferencePage"
            id="org.posithing.notespring.preferences.main.filetypes"
            name="File Types">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.posithing.notespring.product.splashHandlers.InteractiveSplashHandler"
            id="org.posithing.notespring.product.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.eclipse.sdk.ide"
            splashId="org.posithing.notespring.product.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.posithing.notespring.viewContributions.calendar"
            targetID="org.posithing.notespring.views.CalendarView">
         <action
               class="org.posithing.notespring.ui.actions.SynchronizeAction"
               disabledIcon="icons/full/dlcl16/synch_participants.gif"
               enablesFor="*"
               icon="icons/full/elcl16/synch_participants.gif"
               id="org.posithing.notespring.ui.actions.calendar.synchronize"
               label="Synchronize"
               style="push"
               toolbarPath="calendarActionsGroup"
               tooltip="Synchronize Calendar with Resources">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.spellingEngine">
      <engine
            class="org.eclipse.jdt.internal.ui.text.spelling.DefaultSpellingEngine"
            default="true"
            id="org.eclipse.jdt.internal.ui.text.spelling.DefaultSpellingEngine"
            label="%defaultSpellingEngine.label"
            preferencesClass="org.eclipse.jdt.internal.ui.preferences.SpellingPreferenceBlock">
      </engine>
   </extension>

</plugin>
